@media only screen and (max-width: 480px){
#name-and-slogan #site-name a {
font-size: 0.575em;
}
}

@media only screen and (max-width: 480px){
#mini-panel-content_top .pane-block-1 p {
font-size: 7px;
}

@media only screen and (max-width: 480px){
.node-15 p {
font-size: 0.5em;
}
}
@media only screen and (max-width: 480px){
.home_front .panel-col-first .pane-content {
font-size: 7px;
}
}
@media only screen and (max-width: 480px){
.home_front .panel-col-last .pane-content {
font-size: 7px;
}
}
@media only screen and (max-width: 480px){
.front #content .panel-1col {
margin-top: -40px;
}
}

@media only screen and (max-width: 480px){
#footer p {
font-size: 8px;
}
}
@media only screen and (max-width: 480px){
.node-18, .node-27 {
font-size: 0.5em;
}
}
@media only screen and (max-width: 480px){
.page-node-18 h1 {
font-size: 8px;
margin-top: 27px;
}
}
@media only screen and (max-width: 480px){
.page-node-27 h1 {
font-size: 0.6em;
margin-top: 26px;
}
}
