/* line 28, ../sass/fresh.scss */
body {
  background: url("/kwealth/sites/default/files/bg.png");
}

/* line 32, ../sass/fresh.scss */
#page {
  padding: 0;
  -webkit-box-shadow: #333333 -1px 0px 26px -1px;
  -moz-box-shadow: #333333 -1px 0px 26px -1px;
  box-shadow: #333333 -1px 0px 26px -1px;
  max-width: 75.11805%;
}
/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:before, #page:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#page:after {
  clear: both;
}

/* line 38, ../sass/fresh.scss */
#header_top {
  height: 73px;
  background-color: #333333;
}
/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header_top:before, #header_top:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
#header_top:after {
  clear: both;
}

/* line 43, ../sass/fresh.scss */
#header {
  background: url("/kwealth/sites/default/files/header.png");
  height: 351px;
  padding: 40px 0 0 0;
  text-align: center;
}

/* line 49, ../sass/fresh.scss */
#logo {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
}

/* line 53, ../sass/fresh.scss */
#name-and-slogan {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: both;
}
/* line 56, ../sass/fresh.scss */
#name-and-slogan #site-name {
  width: 100%;
}
/* line 59, ../sass/fresh.scss */
#name-and-slogan #site-name a {
  color: #CC6227;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 0.875em;
}
/* line 63, ../sass/fresh.scss */
#name-and-slogan #site-name a:hover {
  text-decoration: none;
}

/* line 69, ../sass/fresh.scss */
img[alt^=Banner] {
  padding: 30px 0;
}

/* line 72, ../sass/fresh.scss */
.home_front #main {
  padding-top: 0;
}

/* line 75, ../sass/fresh.scss */
#content {
  padding: 0;
}

/* line 79, ../sass/fresh.scss */
.pane-content-top {
  background: url("/kwealth/sites/default/files/content-top-bg.png");
  padding-top: 90px;
}
/* line 46, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.pane-content-top:before, .pane-content-top:after {
  content: "";
  display: table;
}
/* line 50, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.pane-content-top:after {
  clear: both;
}

/* line 84, ../sass/fresh.scss */
#mini-panel-content_top .pane-block-1 {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
}
/* line 87, ../sass/fresh.scss */
#mini-panel-content_top .pane-block-1 p {
  font-size: 1.71789em;
  color: #730900;
  text-align: center;
  margin-top: -8px;
}

/* line 94, ../sass/fresh.scss */
.pane-widgets {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
}
/* line 97, ../sass/fresh.scss */
.pane-widgets .pane-title, .pane-widgets .pane-content {
  display: inline-block;
}

/* line 101, ../sass/fresh.scss */
.node-15 {
  float: left;
  width: 83.33333%;
  margin-left: 8.33333%;
  margin-right: -91.66667%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 0 44px 0 44px;
}
/* line 104, ../sass/fresh.scss */
.node-15 p {
  font-size: 1em;
  text-align: justify;
  font-family: 'Droid Sans';
}

/* line 110, ../sass/fresh.scss */
.pane-content-bottom, #main {
  background: url("/kwealth/sites/default/files/content-bottom-bg.png");
}

/* line 113, ../sass/fresh.scss */
.home_front .panel-2col .panel-col-first {
  float: left;
  width: 33.33333%;
  margin-left: 16.66667%;
  margin-right: -50%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 33.3333%;
  padding-top: 40px;
}

/* line 120, ../sass/fresh.scss */
.home_front .panel-2col .panel-col-last {
  float: left;
  width: 33.33333%;
  margin-left: 50%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 33.3333%;
  padding-top: 40px;
}

/* line 125, ../sass/fresh.scss */
.home_front .panel-col-first .pane-content {
  text-align: center;
  color: #f26d2e;
  font-size: 1.5em;
  font-family: 'Droid Sans';
  font-weight: 700;
}

/* line 131, ../sass/fresh.scss */
.home_front .panel-col-last .pane-content {
  text-align: center;
  color: #f26d2e;
  font-size: 1.5em;
  font-family: 'Droid Sans';
  font-weight: 700;
}

/* line 137, ../sass/fresh.scss */
#footer {
  background: url("/kwealth/sites/default/files/footer.png");
  height: 224px;
}

/* line 146, ../sass/fresh.scss */
.nav_all {
  float: left;
  width: 58.33333%;
  margin-left: 8.33333%;
  margin-right: -66.66667%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 149, ../sass/fresh.scss */
.region-header-top #block-block-2 {
  float: left;
  width: 16.66667%;
  margin-left: 66.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 14px 0;
}

/* line 153, ../sass/fresh.scss */
.join {
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFCE8B3', endColorstr='#FFF8CA51');
  background: -webkit-linear-gradient(#fce8b3, #f5cf6a 70%);
  background: -moz-linear-gradient(#fce8b3, #f5cf6a 70%);
  background: -o-linear-gradient(#fce8b3, #f5cf6a 70%);
  background: linear-gradient(#fce8b3, #f5cf6a 70%);
  -webkit-box-shadow: #fffefd 0 1px 0 inset;
  -moz-box-shadow: #fffefd 0 1px 0 inset;
  box-shadow: #fffefd 0 1px 0 inset;
  border: 1px solid #f3c752;
  color: white;
}
/* line 15, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.join:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.join:hover {
  background-color: #f3c752;
  background: -webkit-linear-gradient(#fbe19a 3%, #f3c752 75%);
  background: -moz-linear-gradient(#fbe19a 3%, #f3c752 75%);
  background: -o-linear-gradient(#fbe19a 3%, #f3c752 75%);
  background: linear-gradient(#fbe19a 3%, #f3c752 75%);
}
/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.join:active {
  -webkit-box-shadow: #f2c344 0 1px 2px inset;
  -moz-box-shadow: #f2c344 0 1px 2px inset;
  box-shadow: #f2c344 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.join.disabled, .join[disabled] {
  opacity: 0.6;
  background: #f5cf6a;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.join::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}
/* line 155, ../sass/fresh.scss */
.join a {
  text-decoration: none;
  font-size: 0.87em;
}

/* line 161, ../sass/fresh.scss */
.lines {
  color: rgba(238, 238, 238, 0.55);
}

/* line 165, ../sass/fresh.scss */
.contact_form_all h1.title {
  float: left;
  width: 33.33333%;
  margin-left: 33.33333%;
  margin-right: -66.66667%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: #864c0d;
  color: #fff;
  text-align: center;
}
/* line 171, ../sass/fresh.scss */
.contact_form_all .panel-1col {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-top: 40px;
}
/* line 175, ../sass/fresh.scss */
.contact_form_all .pane-block-3 {
  margin-top: 40px;
  margin-bottom: 30px;
}
/* line 178, ../sass/fresh.scss */
.contact_form_all .pane-block-3 p {
  font-family: 'Droid Sans';
}
/* line 181, ../sass/fresh.scss */
.contact_form_all .pane-block-3 .cd1 {
  text-align: center;
}
/* line 184, ../sass/fresh.scss */
.contact_form_all .pane-block-3 .cd2 {
  padding: 0 20px;
}
/* line 186, ../sass/fresh.scss */
.contact_form_all .pane-block-3 .cd2 img {
  padding: 0 70px;
}

/* line 193, ../sass/fresh.scss */
.panel-col-last h1 {
  text-align: center;
}

/* line 199, ../sass/fresh.scss */
.nav_all .sf-menu li {
  text-align: center;
  line-height: 72px;
}
/* line 204, ../sass/fresh.scss */
.nav_all .sf-menu li.active-trail a {
  color: #fff;
  text-align: center;
  line-height: 72px;
  text-decoration: none;
}
/* line 212, ../sass/fresh.scss */
.nav_all .sf-menu li a:hover {
  text-decoration: none;
}
/* line 215, ../sass/fresh.scss */
.nav_all .sf-menu li a {
  color: #f26d2e;
  text-decoration: none;
}
/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.nav_all .sf-menu li a:hover {
  color: #f5cf6a;
}
/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
.nav_all .sf-menu li a:active {
  color: white;
}

/* line 220, ../sass/fresh.scss */
#content .tabs {
  padding: 40px 26% 0 26%;
}

/* line 223, ../sass/fresh.scss */
.password-field, .password-confirm {
  width: 95.8% !important;
}

/* line 226, ../sass/fresh.scss */
.password-strength {
  position: relative;
  right: 4.2%;
}

/* line 230, ../sass/fresh.scss */
.js h2 {
  opacity: 1;
  font-size: 1em;
}

/* line 234, ../sass/fresh.scss */
.pane-menu-menu-account-settings .pane-content {
  text-align: left;
  font-size: 1em;
}

/* line 239, ../sass/fresh.scss */
.nav_side .sf-menu a, .nav_side .menuparent {
  height: 40px;
  background-color: #730900;
  text-decoration: none;
  width: 192px;
  text-align: center;
  color: #fff;
  line-height: 40px;
}

/* line 248, ../sass/fresh.scss */
.nav_side .sf-menu a:hover, .nav_side .menuparent:hover {
  background-color: #f26d2e;
  text-decoration: none;
  text-align: center;
}

/* line 254, ../sass/fresh.scss */
#login-message::before {
  content: url(http://localhost:8888/kwealth/sites/default/files/login.png);
}

/* line 257, ../sass/fresh.scss */
div.messages {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: none;
  color: green;
  border: 1px solid #0b348b;
  text-align: center;
  -webkit-transform: translateY(-130px);
  -moz-transform: translateY(-130px);
  -ms-transform: translateY(-130px);
  -o-transform: translateY(-130px);
  transform: translateY(-130px);
}

/* line 266, ../sass/fresh.scss */
.page-user-password #content {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 269, ../sass/fresh.scss */
.page-user-password .title {
  font-size: 1.7em;
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  padding: 40px 0 40px 0;
}
/* line 274, ../sass/fresh.scss */
.page-user-password .title::before {
  content: url(http://localhost:8888/kwealth/sites/default/files/unlockme.png);
}

/* line 279, ../sass/fresh.scss */
.page-user-edit #content {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: #f4f4f4;
  border-radius: 15px 15px 0 0;
  padding: 2% 4% 0 4%;
  border: 1px solid #B1A05A;
}
/* line 287, ../sass/fresh.scss */
.page-user-edit #content label {
  color: #f26d2e;
}
/* line 291, ../sass/fresh.scss */
.page-user-edit h1.title {
  display: none;
}

/* line 295, ../sass/fresh.scss */
#view_me {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: #f4f4f4;
  border: 1px solid #B1A05A;
  border-radius: 10px;
}
/* line 302, ../sass/fresh.scss */
#view_me h2 {
  color: #f26d2e;
}
/* line 305, ../sass/fresh.scss */
#view_me .pane-content {
  color: #730900;
}

/* line 309, ../sass/fresh.scss */
input[type="submit"] {
  font-size: 19px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF3976C', endColorstr='#FFE65613');
  background: -webkit-linear-gradient(#f3976c, #f26d2e 70%);
  background: -moz-linear-gradient(#f3976c, #f26d2e 70%);
  background: -o-linear-gradient(#f3976c, #f26d2e 70%);
  background: linear-gradient(#f3976c, #f26d2e 70%);
  -webkit-box-shadow: #f9c9b3 0 1px 0 inset;
  -moz-box-shadow: #f9c9b3 0 1px 0 inset;
  box-shadow: #f9c9b3 0 1px 0 inset;
  border: 1px solid #f15c16;
  color: white;
  text-shadow: #c94b10 0 -1px 0;
  font-size: 1em;
}
/* line 15, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="submit"]:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="submit"]:hover {
  background-color: #f15c16;
  background: -webkit-linear-gradient(#f18654 3%, #f15c16 75%);
  background: -moz-linear-gradient(#f18654 3%, #f15c16 75%);
  background: -o-linear-gradient(#f18654 3%, #f15c16 75%);
  background: linear-gradient(#f18654 3%, #f15c16 75%);
}
/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="submit"]:active {
  -webkit-box-shadow: #e9550e 0 1px 2px inset;
  -moz-box-shadow: #e9550e 0 1px 2px inset;
  box-shadow: #e9550e 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
input[type="submit"].disabled, input[type="submit"][disabled] {
  opacity: 0.6;
  background: #f26d2e;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
input[type="submit"]::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 319, ../sass/fresh.scss */
.page-user ul.primary a.active {
  background-color: transparent;
  color: #000;
}

/* line 323, ../sass/fresh.scss */
label {
  color: #730900;
}

/* line 327, ../sass/fresh.scss */
.toboggan-unified #login-message {
  margin-top: -40px;
}
/* line 330, ../sass/fresh.scss */
.toboggan-unified #login-links {
  font-size: 1.3em;
  margin-top: 17px;
  color: #f26d2e;
}

/* line 336, ../sass/fresh.scss */
#view_me .panel-pane {
  border-bottom: 1px solid #D6D5D3;
}

/* line 339, ../sass/fresh.scss */
ul.primary {
  border-bottom: 1px solid #D5BB7E;
}

/* line 342, ../sass/fresh.scss */
.node-18 {
  float: left;
  width: 83.33333%;
  margin-left: 8.33333%;
  margin-right: -91.66667%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  background-color: #f0f0f0;
  margin-top: 48px;
  margin-bottom: 40px;
  line-height: 2em;
  border-radius: 10px 10px 0 0;
  color: #730900;
}
/* line 351, ../sass/fresh.scss */
.node-18 p strong {
  color: #f26d2e;
}
/* line 354, ../sass/fresh.scss */
.node-18 p img {
  float: left;
  margin-right: 10px;
}

/* line 361, ../sass/fresh.scss */
.node-27 p {
  text-align: center;
}
/* line 364, ../sass/fresh.scss */
.node-27 .field-forms- {
  background-color: #fff;
  margin: 10px 0 30px 0;
  padding: 10px 0 10px 20px;
  border: 1px solid #E2E1CA;
}
/* line 369, ../sass/fresh.scss */
.node-27 .field-forms- a {
  color: #f26d2e;
  font-family: 'Droid Sans';
  font-weight: bold;
}

/* line 377, ../sass/fresh.scss */
.page-node-27 p, .page-node-27 li, .page-node-27 ol {
  font-family: 'Droid Sans';
}
/* line 380, ../sass/fresh.scss */
.page-node-27 h1 {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  text-align: center;
  color: #730900;
  font-family: 'Droid Sans';
  font-weight: 700;
}

/* line 387, ../sass/fresh.scss */
.page-node-18 h1 {
  float: left;
  width: 25%;
  margin-left: 8.33333%;
  margin-right: -33.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  color: #730900;
  font-size: em;
}

/* line 391, ../sass/fresh.scss */
.node-22, .node-23, .node-24, .node-25, .node-26, .node-27 {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  line-height: 2em;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px 10px 0 0;
  border: 1px solid #B1A05A;
  background-color: #f0f0f0;
  color: #730900;
}

/* line 401, ../sass/fresh.scss */
.page-user-summary-guidelines h1, .page-user-loan h1, .page-user-membership h1 {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
  color: #f26d2e;
}

/* line 406, ../sass/fresh.scss */
ul.primary {
  float: left;
  width: 83.33333%;
  margin-left: 8.33333%;
  margin-right: -91.66667%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 409, ../sass/fresh.scss */
.page-user h1 {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  clear: left;
  text-align: center;
  color: #f26d2e;
}

/* line 416, ../sass/fresh.scss */
.page-user-loan h1, .page-user-summary-guidelines h1 {
  text-align: center;
  color: #f26d2e;
}

/* line 426, ../sass/fresh.scss */
ul.secondary {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  border: none;
  margin-top: 3.5em;
}

/* line 433, ../sass/fresh.scss */
.contact_form_all .title, .join a, .page-user-summary-guidelines .title,
.page-node-18 h1, input[type="submit"], #view_me h2, .page-user-edit h1.title,
.page-user-loan h1, .page-user h1, .view-contributions thead tr th {
  font-family: 'Droid Sans';
  font-weight: 700;
}

/* line 441, ../sass/fresh.scss */
.node-22 .field-body p, .node-18 .field-body p, .contact_form_all
.panel-col-first, .description, .login-forgot, legend, .password-strength,
.form-text, .form-textarea, .breadcrumb, .toboggan-unified #login-links a,
#view_me .pane-content, ul.primary li a, #secondary-menu li a, .node-23,
.page-user .messages h2, .view-contributions tr.even td, .node-24 li,
.node-25 li, .view-contributions tr.odd td {
  font-family: 'Droid Sans';
}

/* line 449, ../sass/fresh.scss */
#edit-current-pass, #edit-pass-pass1,
#edit-pass-pass2, #edit-timezone--2, #edit-picture-upload, #edit-name,
#edit-subject, #edit-message, #edti-mail {
  max-width: 100%;
}

/* line 457, ../sass/fresh.scss */
#edit-mail, #edit-current-pass, #edit-pass-pass1, #edit-pass-pass2,
#edit-subject, #edit-name, #edit-name--2, #edit-conf-mail,
#edit-profile-main-field-first-name-und-0-value,
#edit-profile-main-field-last-name-und-0-value,
#edit-profile-main-field-date-of-birth-und-0-value-datepicker-popup-0,
#edit-profile-main-field-next-of-kin-und-0-value {
  height: 35px;
  border: 1px solid #E4E1E1;
  border-radius: 5px;
  width: 100%;
}

/* line 463, ../sass/fresh.scss */
#edit-message {
  border: 1px solid #E4E1E1;
}

/* line 467, ../sass/fresh.scss */
#contact-site-form {
  background-color: #f0f0f0;
  padding: 10px 40px 20px 40px;
  margin-top: 25px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid #B1A05A;
}
/* line 475, ../sass/fresh.scss */
#contact-site-form img {
  -webkit-transform: translate(-84px, -65px);
  -moz-transform: translate(-84px, -65px);
  -ms-transform: translate(-84px, -65px);
  -o-transform: translate(-84px, -65px);
  transform: translate(-84px, -65px);
  margin-bottom: -89px;
}
/* line 479, ../sass/fresh.scss */
#contact-site-form label {
  color: #f26d2e;
}

/* line 483, ../sass/fresh.scss */
.password-parent, .confirm-parent, div.form-item div.password-suggestions {
  max-width: 100%;
}

/* line 487, ../sass/fresh.scss */
.toboggan-unified.login #register-form {
  background-color: #f0f0f0;
  padding: 3% 5%;
  margin-top: 5%;
  margin-bottom: 40px;
  border-radius: 10px;
  border: 1px solid #B1A05A;
}
/* line 494, ../sass/fresh.scss */
.toboggan-unified.login #register-form label {
  color: #f26d2e;
}
/* line 497, ../sass/fresh.scss */
.toboggan-unified.login #register-form input[type=text] {
  height: 35px;
  border: 1px solid #E4E1E1;
  border-radius: 5px;
  width: 100%;
}
/* line 503, ../sass/fresh.scss */
.toboggan-unified.login #register-form .description {
  color: #730900;
}
/* line 506, ../sass/fresh.scss */
.toboggan-unified.login #register-form textarea {
  border: 1px solid #E4E1E1;
  border-radius: 5px;
  width: 100%;
}
/* line 511, ../sass/fresh.scss */
.toboggan-unified.login #register-form fieldset {
  border-color: #FCF7F7;
}

/* line 517, ../sass/fresh.scss */
#user-register-form {
  background-color: #f0f0f0;
  padding: 3% 5%;
  margin-top: 2%;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 1px solid #B1A05A;
}
/* line 524, ../sass/fresh.scss */
#user-register-form label {
  color: #f26d2e;
}
/* line 527, ../sass/fresh.scss */
#user-register-form input[type=password], #user-register-form input[type=tel] {
  height: 35px;
  border: 1px solid #E4E1E1;
  border-radius: 5px;
  width: 100%;
}
/* line 533, ../sass/fresh.scss */
#user-register-form #edit-profile-main-field-account-number-und-0-value {
  height: 35px;
  border: 1px solid #E4E1E1;
  border-radius: 5px;
  width: 100%;
}
/* line 539, ../sass/fresh.scss */
#user-register-form .description {
  color: #730900;
}

/* line 543, ../sass/fresh.scss */
#user-login {
  background-color: #f0f0f0;
  padding: 3% 5%;
  margin-top: 5%;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 1px solid #B1A05A;
}
/* line 550, ../sass/fresh.scss */
#user-login label {
  color: #f26d2e;
}
/* line 553, ../sass/fresh.scss */
#user-login input[type=password] {
  height: 35px;
  border: 1px solid #E4E1E1;
  border-radius: 5px;
  width: 100%;
}
/* line 559, ../sass/fresh.scss */
#user-login .description {
  color: #730900;
}

/* line 563, ../sass/fresh.scss */
#user-pass {
  background-color: #f0f0f0;
  padding: 12% 5% 5% 5%;
  margin-top: 5%;
  border-radius: 10px;
  margin-bottom: 30px;
  border: 1px solid #B1A05A;
}
/* line 570, ../sass/fresh.scss */
#user-pass label {
  color: #f26d2e;
}
/* line 573, ../sass/fresh.scss */
#user-pass .description {
  color: #730900;
}

/* line 578, ../sass/fresh.scss */
#user-profile-form .description {
  color: #730900;
}

/* line 582, ../sass/fresh.scss */
.view-contributions {
  float: left;
  width: 83.33333%;
  margin-left: 8.33333%;
  margin-right: -91.66667%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-top: 40px;
  text-align: center;
}
/* line 586, ../sass/fresh.scss */
.view-contributions img {
  display: none;
}
/* line 589, ../sass/fresh.scss */
.view-contributions h1 {
  text-align: center;
}
/* line 592, ../sass/fresh.scss */
.view-contributions table {
  width: 100%;
}
/* line 594, ../sass/fresh.scss */
.view-contributions table thead tr th, .view-contributions table tfoot td {
  background-color: #730900;
  color: #f0f0f0;
  text-align: center;
}
/* line 599, ../sass/fresh.scss */
.view-contributions table tfoot td {
  font-family: 'Droid Sans';
  font-weight: 700;
  border-bottom: none;
  text-align: center;
}
/* line 604, ../sass/fresh.scss */
.view-contributions table tr.even {
  height: 40px;
  background-color: #F8F5E4;
  border-bottom: 1px solid #F7F2DF;
  text-align: center;
}
/* line 609, ../sass/fresh.scss */
.view-contributions table tr.even:hover {
  background-color: #0f0f0f;
  color: #fff;
}
/* line 614, ../sass/fresh.scss */
.view-contributions table tr.odd {
  height: 40px;
  background-color: #EBEBD3;
  border-bottom: 1px solid #B3941B;
  text-align: center;
}
/* line 619, ../sass/fresh.scss */
.view-contributions table tr.odd:hover {
  background-color: #0f0f0f;
  color: #fff;
}

/* line 627, ../sass/fresh.scss */
.node-26 {
  padding: 30px;
}
/* line 629, ../sass/fresh.scss */
.node-26 .field-label {
  display: none;
}
/* line 632, ../sass/fresh.scss */
.node-26 .field-forms- {
  background-color: #fff;
  margin: 10px 0 0 0;
  padding: 10px 0 10px 20px;
  border: 1px solid #E2E1CA;
}
/* line 637, ../sass/fresh.scss */
.node-26 .field-forms- a {
  color: #f26d2e;
  font-family: 'Droid Sans';
  font-weight: 700;
}
/* line 640, ../sass/fresh.scss */
.node-26 .field-forms- a:hover {
  color: #730900;
}

/* line 646, ../sass/fresh.scss */
.toboggan-unified {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/* line 649, ../sass/fresh.scss */
.teln, .mail_me, .bbm {
  display: inline-block;
  text-align: center;
  padding: 0 23px;
}

/* line 654, ../sass/fresh.scss */
.panel-pane.pane-block.pane-block-5.pane-block {
  position: relative;
  top: -43px;
}

/* line 658, ../sass/fresh.scss */
#secondary-menu {
  background-color: #f26d2e;
  position: relative;
  top: -130px;
  left: -40px;
}
/* line 663, ../sass/fresh.scss */
#secondary-menu li:nth-child(2) a {
  padding: 0 8.5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
/* line 668, ../sass/fresh.scss */
#secondary-menu li:nth-child(2) a:hover {
  color: #730900;
  text-decoration: underline;
}
/* line 674, ../sass/fresh.scss */
#secondary-menu li:nth-child(1) {
  border-right: 1px solid #f0f0f0;
}
/* line 676, ../sass/fresh.scss */
#secondary-menu li:nth-child(1) a {
  padding-left: 15.5px;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
/* line 681, ../sass/fresh.scss */
#secondary-menu li:nth-child(1) a:hover {
  color: #730900;
  text-decoration: underline;
}

/* line 688, ../sass/fresh.scss */
.mollom-captcha-content a {
  font-family: 'Droid Sans';
}

/* line 691, ../sass/fresh.scss */
#footer p {
  color: #f0f0f0;
  text-align: center;
  line-height: 200px;
  font-family: 'Droid Sans';
  font-size: 0.9em;
}

/* line 701, ../sass/fresh.scss */
.toolbar #content h1 {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: 'Droid Sans';
  font-weight: 700;
  text-align: center;
  color: #730900;
}
/* line 707, ../sass/fresh.scss */
.toolbar .node-type-list {
  padding: 30px;
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  line-height: 2em;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px 10px 0 0;
  border: 1px solid #B1A05A;
  background-color: #f0f0f0;
  color: #730900;
}
/* line 709, ../sass/fresh.scss */
.toolbar .node-type-list dd {
  font-family: 'Droid Sans';
  color: #730900;
  font-size: 0.8em;
}
/* line 715, ../sass/fresh.scss */
.toolbar .node-type-list dt a {
  font-family: 'Droid Sans';
  font-weight: 700;
  color: #f26d2e;
}

/* line 731, ../sass/fresh.scss */
.page-user #edit-contact, .page-user #edit-timezone {
  display: none;
}

/* line 736, ../sass/fresh.scss */
.node-cash_deposit-form {
  float: left;
  width: 66.66667%;
  margin-left: 16.66667%;
  margin-right: -83.33333%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  line-height: 2em;
  margin-top: 50px;
  margin-bottom: 30px;
  border-radius: 10px 10px 0 0;
  border: 1px solid #B1A05A;
  background-color: #f0f0f0;
  color: #730900;
}
/* line 737, ../sass/fresh.scss */
.node-cash_deposit-form input[type=text], .node-cash_deposit-form input[type=number] {
  height: 35px;
  border: 1px solid #E4E1E1;
  border-radius: 5px;
  width: 100%;
}
/* line 743, ../sass/fresh.scss */
.node-cash_deposit-form fieldset {
  border: 1px solid #fff;
}
/* line 746, ../sass/fresh.scss */
.node-cash_deposit-form label {
  color: #f26d2e;
}

/* line 759, ../sass/fresh.scss */
.page-node-add-simplenews #content {
  float: left;
  width: 83.33333%;
  margin-left: 8.33333%;
  margin-right: -91.66667%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 761, ../sass/fresh.scss */
.page-node-add-simplenews #content input[type=text] {
  height: 35px;
  border: 1px solid #E4E1E1;
  border-radius: 5px;
  width: 100%;
}

/* line 771, ../sass/fresh.scss */
.field-dlink a {
  font-size: 16px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF6767E5', endColorstr='#FF2222C4');
  background: -webkit-linear-gradient(#6767e5, #3535ad 70%);
  background: -moz-linear-gradient(#6767e5, #3535ad 70%);
  background: -o-linear-gradient(#6767e5, #3535ad 70%);
  background: linear-gradient(#6767e5, #3535ad 70%);
  -webkit-box-shadow: #a8a8f0 0 1px 0 inset;
  -moz-box-shadow: #a8a8f0 0 1px 0 inset;
  box-shadow: #a8a8f0 0 1px 0 inset;
  border: 1px solid #2f2f99;
  color: #333333;
  text-shadow: #7979d6 0 1px 0;
  width: 180px;
  text-align: center;
}
/* line 15, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.field-dlink a:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.field-dlink a:hover {
  background-color: #2f2f99;
  background: -webkit-linear-gradient(#5151e1 3%, #2f2f99 75%);
  background: -moz-linear-gradient(#5151e1 3%, #2f2f99 75%);
  background: -o-linear-gradient(#5151e1 3%, #2f2f99 75%);
  background: linear-gradient(#5151e1 3%, #2f2f99 75%);
}
/* line 21, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.field-dlink a:active {
  -webkit-box-shadow: #2b2b8e 0 1px 2px inset;
  -moz-box-shadow: #2b2b8e 0 1px 2px inset;
  box-shadow: #2b2b8e 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.field-dlink a.disabled, .field-dlink a[disabled] {
  opacity: 0.6;
  background: #3535ad;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.field-dlink a::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 777, ../sass/fresh.scss */
.field-label {
  font-family: 'Droid Sans';
  margin-bottom: -10px;
}

/* line 781, ../sass/fresh.scss */
.page-admin-people #content {
  float: left;
  width: 83.33333%;
  margin-left: 8.33333%;
  margin-right: -91.66667%;
  padding-left: 20px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
.sf-menu li:nth-child(1) a{
  width:88px;
}
.sf-menu li:nth-child(2) a{
  width:106px;
}
.sf-menu li:nth-child(3) a{
  width:133px;
}
.sf-menu li:nth-child(4) a{
  width:119px;
}
.sf-menu li:nth-child(5) a{
  width:74px;
}

