@media (max-width: 768px) {
  /* line 28, ../sass/tablet.scss */
  #mini-panel-content_top .pane-block-1 p {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  /* line 33, ../sass/tablet.scss */
  .home_front .panel-col-first .pane-content {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  /* line 38, ../sass/tablet.scss */
  .home_front .panel-col-last .pane-content {
    font-size: 1em;
  }
}
